.category {
  margin: 20px 0;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  padding: 10px;
  color: var(--text-color);
}

.darkTitle {
  color: #fff;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  flex: 1;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.arrow:hover {
  color: var(--hover-color);
}

.dark .arrow {
  color: #fff;
}

/* Mobile-first approach */
@media (min-width: 768px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }

  .title {
    font-size: 2rem;
  }
}
